function Main.main 1
push constant 230
push constant 16
push constant 15
call NineGame.new 3
pop local 0
push local 0
call NineGame.run 1
pop temp 0
push local 0
call NineGame.dispose 1
pop temp 0
push constant 0
return
